
<!--<app-ciclo [valoraInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo>-->
<!--<button (click)="mudarValor()">Mudar Valor</button>-->
<!--<button (click)="destruirCiclo()">Deletar</button>-->
<!--<app-data-biding></app-data-biding>-->
<!--<app-diretiva-ng-if></app-diretiva-ng-if>-->
<!--<app-diretiva-ngswitch></app-diretiva-ngswitch>-->
<!--<app-diretiva-ngfor></app-diretiva-ngfor>-->
<!--<app-diretiva-ngclass></app-diretiva-ngclass>-->
<!--<app-diretiva-ngstyle></app-diretiva-ngstyle>-->
<!--<app-operador-elvis></app-operador-elvis>-->
<!--<app-exemplo-ng-content>-->
<!--  <div class="titulo">Titulo do Painel</div>-->
<!--  <app-operador-elvis class="corpo"></app-operador-elvis>-->
<!--</app-exemplo-ng-content>-->

<!--<app-exemplo-ng-content>-->
<!--  <div class="titulo">Titulo do Painel</div>-->
<!--  <div class="corpo">-->
<!--    Conteudo passado para o componente.-->
<!--  </div>-->
<!--  <div class="corpo">-->
<!--    Conteudo passado para o componente 2.-->
<!--  </div>-->
<!--</app-exemplo-ng-content>-->
<!--<app-diretivas-customizadas></app-diretivas-customizadas>-->
<!--<app-criar-curso></app-criar-curso>-->
<!--<br><br>-->
<!--<app-servico-cursos></app-servico-cursos>-->
<!--<app-exemplos-pipes></app-exemplos-pipes>-->

<!--<nav *ngIf="mostartMenu">-->
<!--  <div class="nav-wrapper">-->
<!--    <a class="brand-logo right">Entendendo Rotas</a>-->
<!--    <ul id="nav-mobile" class="left hide-on-med-and-down">-->
<!--      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>-->
<!--      <li routerLinkActive="active"><a routerLink="">Home</a></li>-->
<!--      <li routerLinkActive="active"><a routerLink="/cursos" [queryParams]="{pagina:1}">Cursos</a></li>-->
<!--&lt;!&ndash;      <li routerLinkActive="active"><a [routerLink]="['/curso', cursoId.value]">Curso com Id</a></li>&ndash;&gt;-->
<!--      <li routerLinkActive="active"><a [routerLink]="['/alunos']">Alunos</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->

<!--<div class="container">-->
<!--  <p>Entre com o id do curso</p>-->
<!--  <input type="text" #cursoId>-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->

<!--<app-forms></app-forms>-->
<!--<div class="container">-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Http</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cursos']" >Cursos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
