<h5>*ngIg</h5>
<br>
<div *ngIf="cursos.length > 0">
  Lista de Cursos Aqui!
</div>
<br>
<div *ngIf="cursos.length == 0">
  Nao exite cursos para serem listados.
</div>
<br>

<div *ngIf="mostrarCursos">
  Mostrar Cursos aqui.
</div>
<div *ngIf="!mostrarCursos">
  Nao exite cursos para serem mostrados.
</div>
<br>
<button (click)="onMostrarCursos()">Mostart ou esconder cursos</button>
<br>

<h5>
  Hidden como alternatica
</h5>
<div [hidden]="!mostrarCursos">
  Lista de Cursos Aqui (com hidden).
</div>
<br>
<div [hidden]="mostrarCursos">
  Nao existe cursos a serem mostrados (com hidden).
</div>
