<h2>Exemplo de uso com pipes.</h2>

<p>Titulo: {{ livro.titulo | uppercase | lowercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number : '1.1-1' }}</p>
<p>Paginas: {{ livro.numeroPaginas | number }}</p>
<p>Preco: {{ livro.preco | currency:'BRL': true }}</p>
<p>Data Lancamento: {{ livro.dataLancamento | date }}</p>
<p>Url: {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json }}</p>
<br>
<input type="text" [(ngModel)]="filtro">
<br>
<h5>Pipe puro!</h5>
<ul>
  <li *ngFor="let liv of livros | filtroArray:filtro">
    {{ liv }}
  </li>
</ul>

<h5>Pipe impur0!</h5>
<ul>
  <li *ngFor="let liv of obterCursos()">
    {{ liv }}
  </li>
</ul>
